<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BBVA</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="bg-blue">
  <nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top">
    <a class="navbar-brand" href="qrCode.html">
      <img src="../img/logo.svg" width="150">
    </a>
    <div class="form-inline ml-auto mr-md-4">
      <i class="fas fa-shopping-cart mr-3 text-white" id="summaryList"></i>
      <i class="fas fa-search text-white"></i>
    </div>
  </nav>
  <nav class="nav text-white mt-2 ml-5" id="search-nav">
    <input type="text" placeholder="Buscar..." class="mt-2 text-white mx-auto input-login">
  </nav>
  <div class="container-fluid">
    <div class="row mt-5" id="listOfProducts">
    </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/payments.js"></script>
  <script src="../js/searching-nav.js"></script>
</body>

</html>