<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBVA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="bg-blue">
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <a class="navbar-brand" href="qrCode.html">
            <img src="../img/logo.svg" width="150">
        </a>
        <div class="form-inline">
            <i class="fas fa-search text-white"></i>
        </div>
    </nav>
    <header class="bg-image-full bg-img-main">
    </header>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-6 col-12 text-center mt-2">
                <a href="payments.html"><button class="btn bg-blue-ligth text-white w-80 py-3"><i class="fas fa-shopping-cart icons-font"></i></button></a>
                <h5 class="text-white mt-1">Cobro</h5>
            </div>
            <div class="col-md-6 col-12 text-center mt-2">
                <button class="btn bg-blue-ligth text-white w-80 py-3"><i class="fas fa-pencil-alt icons-font"></i></button>
                <h5 class="text-white mt-1">Reportes</h5>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>