body {
  font-family: Arial, Helvetica, sans-serif;
}

.h-100v {
  height: 100vh;
}

.bg-blue {
  background-color: #072146;
}

.bg-blue-ligth {
  background-color: rgb(0, 110, 193);
}

.btn-semirounded1 {
  border-radius: 0px 25px 0px 25px;
  -moz-border-radius: 0px 25px 0px 25px;
  -webkit-border-radius: 0px 25px 0px 25px;
  border: 0px solid #000000;
  box-shadow: 2px 2px 6px 1px #b6b5b5;
}

.btn-semirounded2 {
  border-radius: 25px 0px 25px 0px;
  -moz-border-radius: 25px 0px 25px 0px;
  -webkit-border-radius: 25px 0px 25px 0px;
  border: 0px solid #000000;
}

.w-40 {
  width: 40%;
}

.w-80 {
  width: 80%;
}

.input-login {
  background-color: inherit;
  border: none;
  border-bottom: 2px #fff solid;
  width: 90%;
}

.input-login::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}

.bg-img {
  background-image: url('../img/city.jpg');
  background-size: cover;
  background-position: center bottom;
  padding: 7em 0;
}

.bg-img-main {
  background-image: url('../img/img1.jpg');
  background-size: cover;
  background-position: center center;
  height: 80%;
  padding: 9em 0;
}

.btn-gray-primary {
  background-color: rgb(160, 160, 160);
}

.float {
  display: scroll;
  position: fixed;
  width: 400px;
  margin-left: 38%;
  bottom: 0;
}

.icons-font {
  font-size: 1.8em;
}

.no-btn {
  background-color: inherit;
  border: none;
}

.card-body {
  padding: 1rem;
}

.btn-pointer {
  cursor: pointer;
}
